<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Team Created </title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1>Team Created</h1>
    <div>
        <strong>Name: </strong><%- name %><br><br>
        <strong>QB: </strong><%- QB %><br><br>
        <strong>RB: </strong><%- RB %><br><br>
        <strong>WR1: </strong><%- WR1 %><br><br>
        <strong>WR2: </strong><%- WR2 %><br><br>
        <strong>TE: </strong><%- TE %><br><br>
    </div>
    <hr>
    <a href="/">HOME</a>
</body>

</html>