<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Team </title>
</head>

<body>
	<h1><%- name %>'s Team</h1>
	<div>
		<strong>QB: </strong><%- QB %><br><br>
		<strong>RB: </strong><%- RB %><br><br>
		<strong>WR1: </strong><%- WR1 %><br><br>
		<strong>WR2: </strong><%- WR2 %><br><br>
		<strong>TE: </strong><%- TE %><br><br>
	</div>
	<hr>
	<a href="./home.ejs">HOME</a>
</body>

</html>